{% extends 'base.html' %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ foto_perfil }}" class="img-fluid rounded-circle" alt="Foto Perfil">
                            </div>
                            <div class="col-md-8">
                                <h4>{{ current_user.username }}</h4>
                                <p>{{ current_user.email }}</p>
                                <p><strong>Nome Completo:</strong> {{ current_user.full_name }}</p>
                                <p><strong>Data de Nascimento:</strong> {{ current_user.birth_date }}</p>
                                <p><strong>País:</strong> {{ current_user.country }}</p>
                                <p><strong>Cidade:</strong> {{ current_user.city }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="text-muted">Cursos</p>
                                {% if 'Não Informado' in current_user.cursos %}
                                    <p class="font-weight-bold">0</p>
                                {% else %}
                                    <p class="font-weight-bold">{{ current_user.cursos.count(';') + 1 }}</p>
                                {% endif %}
                            </div>
                            <div class="col-md-4">
                                <p class="text-muted">Posts</p>
                                <p class="font-weight-bold">{{ current_user.contar_posts() }}</p>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ url_for('editar_perfil') }}" class="btn btn-primary">Editar Perfil</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Cursos</h5>
                    </div>
                    <div class="card-body">
                        {% for curso in current_user.cursos.split(';') %}
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <p>{{ curso }}</p>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-success" disabled>Concluído</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Posts</h5>
                    </div>
                    <div class="card-body">
                        {% if current_user.posts %}
                            <ul class="list-group">
                                {% for post in current_user.posts %}
                                    <li class="list-group-item">
                                        <a href="{{ url_for('exibir_post', post_id=post.id) }}">{{ post.titulo }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>Nenhum post disponível.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
